<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiP Smart</title>
    <link rel="stylesheet" type="text/css" href="%Parking/Maman.css%">
  </head>
  <body>
    <header>
      <h1>PiP Smart</h1>
    </header>
    <main>
      <h2>Mot de Bienvenue</h2>
      <article>
        <p>
          Bienvenue cher Sieur ou chère Dame,<br>
          C'est avec un immense plaisir et une haute considération que nous vous souhaitons la bienvenue sur notre plateforme de e-parking. Nous vous proposons de sortir de chez vous en ayant la paix du coeur quant à votre prochain parking. En réalité, chez nous, le client est roi.
        </p>
      </article>
      <section>
        <h2 class="fin">Nos services</h2>
      </section> 
    </main>
    <footer>
      <section>
        <h3>Contacts:</h3>
        <p>+229 91 17 00 11/+212 600 696925</p>
      </section> 
      <section>
        <h3>Gmail:</h3> 
        <p><a href="mailto: ulrichgbossou75@gmail.com">ulrichgbossou75@gmail.com</a></p>
        <p> <a href="Connexion.html" title="Connectez-vous">Connectez-vous</a></p>

      </section
